$base-color: #272773;
$hover-color: #0a0a71;
 form{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    input{
        width: 90%;
        padding: 10px;
        height: 5vh;
        background-color: black;
        color: rgb(255, 251, 251);
        font-size: 18px;
    }
    button{
       width: 12%;
       background-color: $hover-color;
       font-size: 18px;
       color: whitesmoke;
    }
 }